@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html, body, body div, div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, img, s, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, button, form, fieldset, article, aside, footer, header, main, nav, section, input, textarea, select, option {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
}
html * {
    max-height: 1000000px;
}
a {
    text-decoration: none;
    cursor: pointer;
}
p {
    color: #222;
}
h1 {
    font: normal 500 44px/74px 'Roboto';
    text-align: center;
    letter-spacing: 0.04em;
    color: #000;
}
.index h1 {
    font: normal 300 64px/74px 'Roboto';
    text-align: center;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
h2 {
    font: normal 300 36px/46px 'Roboto';
    text-align: center;
    letter-spacing: 0.05em;
    color: #000;    
}
h3 {
    font: normal 400 20px/30px 'Roboto';
    text-align: center;
    letter-spacing: 0.04em;
    color: #000;
}
form label {
    display: grid;
    font: normal 400 16px/30px 'Roboto';
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    margin: 32px auto;
}
form ::placeholder {
    color: #1F3F68;
    opacity: 0.5;
}
.contacts h3 {
    color: #1F3F68;
    text-align: left;
    text-transform: uppercase;
    margin: 40px 0 24px;
    font-weight: 500;
}
.contactform .contactform-wrapper > h3 {
    text-transform: uppercase;
    margin: 0 0 16px;
    font-weight: 500;
}
.contactform input, .contactform textarea {
    height: 28px;
    width: auto;
    border: 1px solid #356EAD;
    border-radius: 10px;
    padding: 21px 36px;
    margin-top: 8px;
    font: normal 300 16px/30px 'Roboto';
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.4;
}
.contactform button {
    width: 100%;
    height: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 40px;
}
.contactform textarea {
    height: 100px;
}
.bubble h1 {
    color: #fff;
}
.bubble h3 {
    color: rgba(255, 255, 255, 0.6);
    margin: 16px auto;
    width: 780px;
}
button {
    cursor: pointer;
    font: normal 400 16px/26px 'Roboto';
    color: #000;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.blank {
    padding: 32px;
}
header .container, .index .container {
    width: 1140px;
    margin: 0 auto;
}
header .container {
    height: 48px;
    padding: 34px 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    font: normal 400 16px/26px 'Roboto';
    letter-spacing: 0.05em;
}
header {
    flex: none;
    height: 489px;
    background: linear-gradient(0deg, #EBF3FB 0%, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    position: relative;
    z-index: -1;
}
header.index {
    height: 116px;
    background: none;
}
.bubble {
    height: 194px;
    padding-top: 56px;
    background: url('../images/bubble.png') no-repeat center center, linear-gradient(253.6deg, #98D0FC 2.46%, #3481D7 93.24%);
}
.logo {
    float: left;
    width: 46px;
    height: 48px;
    background: url('../images/navigation.png') center center no-repeat;
}
.user {
    float: right;
    width: 34px;
    height: 38px;
    background: url('../images/address-book.png') center center no-repeat;
}
main {
    flex: auto;
    margin-top: -60px;
}
main.index {
    margin-top: -116px;
}
main h2 {
    margin: 64px 0;
}
.automotion {
    flex: none;
    position: relative;
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 0%, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    color: #1F3F68;
}
.automotion > .container {
    background: url('../images/illustration.png') no-repeat right calc(100% - 93px);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.automotion h1 {
    text-align: left;
    margin: 189px 0 32px;
}
.automotion p {
    width: 425px;
    opacity: 0.6;
}
.automotion button {
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, .2);
    border-radius: 10px;
    color: #fff;
    letter-spacing: 0.04em;
    width: 220px;
    height: 56px;
    margin: auto 0 190px;
}
.rectangles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin: 32px auto;
}
.rectangle {
    box-shadow: 5px 20px 50px rgba(16, 112, 177, .2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: #fff;
}
.rectangle h3 {
    color: #1F3F68;
    text-align: left;
    letter-spacing: 0.05em;
    margin: 14px 32px;
}
.rectangle p {
    color: #1F3F68;
    opacity: 0.6;
    margin: 0 32px;
}
.rectangle a {
    font: normal 400 14px/30px 'Roboto';
    letter-spacing: 0.05em;
    color: #5A98D0;
    margin: auto 0 44px 32px;
}
.rectangle a::after {
    content: '';
    background: url(../images/arrow.svg) no-repeat center right;
    background-size: 16px;
    width: 16px;
    height: 16px;
    padding-right: 40px;
}
.phone::before {
    content: '';
    background: url(../images/phone.svg) no-repeat center left;
    background-size: 20px;
    width: 24px;
    height: 24px;
    padding-left: 40px;
}
.web::before {
    content: '';
    background: url(../images/web.svg) no-repeat center left;
    background-size: 20px;
    width: 24px;
    height: 24px;
    padding-left: 40px;
}
.mail::before {
    content: '';
    background: url(../images/mail.svg) no-repeat center left;
    background-size: 20px;
    width: 24px;
    height: 24px;
    padding-left: 40px;
}
.make {
    background: #fff url('../images/make.png') no-repeat calc(50% - 24px) 44px;
    width: 359px;
    height: 292px;
    padding-top: 188px;
}
.bring {
    background: #fff url('../images/bring.png') no-repeat calc(50% + 4px) 44px;
    width: 359px;
    height: 292px;
    padding-top: 188px;
}
.build {
    background: #fff url('../images/build.png') no-repeat calc(50% - 12px) 44px;
    width: 359px;
    height: 292px;
    padding-top: 188px;
}
.contacts {
    width: 300px;
    background: #fff url('../images/contacts.png') no-repeat top center;
    padding-top: 196px;
}
.contactform {
    width: 540px;
}
.contactform > div {
    margin: 56px;
}
.map {
    height: 480px;
    margin: 32px auto;
    background-size: cover;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.description {
    width: 750px;
    margin: 0 auto;
}
.contacts a {
    color: #1F3F68;
}
.contacts p {
    font-weight: 300;
    letter-spacing: 0.04em;
    opacity: 0.6;
    color: #1F3F68;
}
.description p {
    text-align: center;
    margin-bottom: 32px;
}
.projects.container {
    margin: 64px auto;
}
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    grid-template-areas: "smarthome smarthome" "sparkline repetition";
}
.smarthome {
    grid-area: smarthome;
}
.sparkline {
    grid-area: sparkline;
}
.repetition {
    grid-area: repetition;
}
.projects div {
    position: relative;
    line-height: 0;
    width: 100%;
}
.projects img {
    width: 100%;
    border-radius: 10px;
}
.smarthome h2 {
    font-size: 32px;
    font-weight: 400;
    text-align: right;
    color: #FFF;
    margin-right: 64px;
    position: absolute;
    top: 0;
    right: 0;
}

.app h2 {
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    color: #FFF;
    margin: 32px;
    position: absolute;
    top: 0;
    left: 0;
}
footer {
    flex: none;
    background: #316099;
    height: 657px;
    margin-top: 80px;
}
footer a {
    color: #fff;
}
.liner {
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}
footer button {
    float: right;
    background: #5A98D0;
    height: 56px;
    width: 237px;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    margin: 100px 0 106px 408px;
}
footer h2 {
    color: #fff;
    text-align: left;
    margin: 27px 0 32px;
}
footer .container {
    padding: 64px 0;
    overflow: hidden;
}
footer p {
    color: #fff;
}
ol + p {
    opacity: 0.4;
}
ol {
    list-style-type: upper-alpha;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0 0 60px 22px;

}
ol li {
    width: 336px;
}
ol li::before {
    width: 20px;
    height: 30px;
    float: left;
    content: '';
}

@media screen and (max-width: 1204px) {
    .automotion > .container {
        background-size: 336px;
        background-position: right calc(100% - 108px);

    }
    .rectangles {
        flex-direction: column;
    }
    .contactform {
        width: 520px;
    }    
    header .container, .index .container, .container {
        width: auto;
        margin: 0 32px;
    }
    .rectangle a {
        margin: 12px 0 26px 32px;
    }
    .make {
        width: 335px;
        height: auto;
    }
    .bring {
        width: 335px;
        height: auto;
    }
    .build {
        width: 335px;
        height: auto;
    }
    .description {
        width: 520px;
    }
    .projects.container {
        margin: 64px 32px;
        width: auto;
    }
    .app h2 {
        margin: 24px;
    }
    .map {
        height: 392px;
        margin: 32px 0;
    }
    footer {
        height: 654px;
        margin-top: 64px;
    }
    footer .container {
        padding: 64px 92px;
    }
    footer button {
        height: 32px;
        width: 133px;
        margin: 95px 0 65px 0px;
    }
    footer h2 {
        width: 336px;
        margin: -16px 0  22px;
    }

    footer p {
        width: 336px;
    }
    ol {
        display: block;
        margin-bottom: 53px;
    }
    ol li {
        width: auto;
        margin-bottom: 19px;
    }
    ol li::before {
        height: 10px;
        width: 40px;
    }

}

@media screen and (max-width: 767px) {
    header .container, .index .container, .container {
        margin: 0 16px;
    }
    .automotion > .container {
        background: none;
    }
    header .container {
        padding: 16px 0;
    }
    .automotion {
        height: 376px;
    }
    .automotion h1 {
        font: normal 300 32px/38px 'Roboto';
        text-align: center;
        margin: 92px 0 12px;
    }
    .automotion p {
        width: auto;
        text-align: center;
    }
    .automotion button {
        font-size: 12px;
        width: 108px;
        height: 27px;
        margin: auto auto 41px;
    }
    main {
        margin-top: -80px;
    }
    main h2 {
        margin: 48px 0;
    }
    h1 {
        font-size: 24px;
        line-height: 28px;
    }
    h2 {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: normal;
    }
    .rectangle a {
        margin: auto 0 21px 32px;
    }
    .description {
        width: auto;
        margin: 0 16px;
    }
    .projects {
        display: block;
    }
    .projects div {
        margin: 16px 0;
    }
    .app h2, .smarthome h2 {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: normal;
        margin: 16px;
    }
    .bubble h3 {
        font-size: 16px;
        line-height: 30px;
        width: auto;
    }
    .contactform {
        width: auto;
        margin: 0 16px;
    }
    .contactform > div {
        margin: 36px;
    }
    .contactform input, .contactform textarea {
        padding: 8px 26px;
        margin: 0;
    }
    .contactform label {
        font-size: 14px;
        margin: 24px 0;
    }
    .contactform button {
        height: 46px;
        margin-top: 24px;
    }
    .blank {
        padding: 16px;
    }
    .map {
        height: 349px;
        margin: 0;
    }
    footer {
        height: 553px;
        margin-top: 32px;
    }
    footer .container {
        display: flex;
        flex-direction: column;
        padding: 18px 0 40px;
    }
    footer button {
        float: none;
        order: 1;
        width: 108px;
        margin: 33px auto 0;
    }
    footer h2 {
        width: auto;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0;
        margin: 0 0 27px;
    }
    footer p {
        width: auto;
        text-align: center;

    }
    ol {
        margin: 14px 0 11px 22px;
    }
    ol li {

        line-height: 19px;
    }
    ol li::before {
        height: 20px;
        width: 20px;
    }
}