@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2');/*путь указываем из папки, где лежит файл CSS*, поэтому нам нужно вернуться назад .. , зайти в папку fonts*/
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* global reset */
html, body, body div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, img, s, strong, b, u, i, dl, dt, dd, ol, ul, li, button, article, aside, footer, header, nav, section, input {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	list-style: none;
}
    
/*font adjusting hack*/
html * {
	max-height: 100000000px;
}
    /* commons */
a {
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}

p{
    color: #1f3f68;
    opacity: 0.6;
}
h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000;
}
.container{
    width: 1140px; /*см макет*/
    margin: 0 auto; /*отцентрировать блок по центру*/
}

/*structure*/
html {
    height: 100%;
}
body{
    height:100%;
    background: #fff;
    display:flex;
    flex-direction:column;
    font:normal 400 16px/26px 'Roboto';
    letter-spacing:0.05em;
    
}
header{
    height: 116px; /*померить*/
    flex: none;
    position: relative;
    z-index: 1;
}
footer{
    height: 657px;/*померить*/
    background: #316099; /*из макета*/
    flex: none;
}
main{
    flex:auto;
    margin-top: -116px;
}




/*header*/
header.container{
    height: 48px;
    padding: 34px 0;
}
.logo{
   float:left; /*logo float left, а user float right - раскидать лого и значок по разным сторонам контейнера*. <a> это строчный эелемент, но float превращает его в блочный, поэтому мы можем задать ширину и высоту блокам*/
   width: 46px;
   height: 48px;
   background: url('../images/logo.png') center center no-repeat;
}
.user{
   float: right;
   width: 34px;
   height: 48px; 
   background: url('../images/user.png') center center no-repeat;
}


/*main*/


/*footer*/
.liner{
    height:0;
    border-top: 1px solid rgba(255,255,255,.4); 
}
footer button{
    float: right; /*обтекание кнопки, предотвращает протекание марджинов*/
    background: #5a98d0;
    height: 56px;
    width: 237px;
    color: #fff;
    letter-spacing: 0.04em;
    margin: 100px 0 106px 408px;
}   
footer .container{
    padding:64px 0;
    overflow: hidden;
}
footer h2{
    color: #fff;
    text-align:left;
    margin: 27px 0 32px;
}
footer p{
    color: #fff;
}
ol + p{
    opacity:0.4;
}
ol {
    list-style-type: upper-alpha;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0 0 60px 22px;
}
ol li{
    width: 336px;
}
ol li::before {
    width: 20px;
    height: 30px; /*высота в сочетании с float left убирает подвижку второй строки влево и делает  ее на одном уровне с первой*/
    float: left;
    content: '';
}

/*adaptive*/

@media screen and (max-width: 1204px){ 
    .container{
    width: auto;
    margin: 0 auto; 
    }
    footer .container{
    padding:64px 92px;
    }
    footer {
    height:654px 0;
    }
    footer button{
    height: 32px;
    width: 133px;
    margin: 95px 0 65px 0;
    } 
    footer h2{
        width: 336px;
        margin: -16px 0 22px;
    }    
    footer p{
        width: 336px;
    }
    ol{
        display:block;
        margin-bottom: 53px;
    }
    ol li{
        width:auto;
        margin-bottom: 19px;
    }
    ol li::before{
    width: 10px;
    height: 40px; /*увеличили высоту строки и уменьшили ширину, чтобы вторая и третья строка не отскакивали вправо*/
}
}

@media screen and (max-width: 767px){ 
    body{
        display:block;
    }

    .container{
    margin: 0 16px; 
    }
    header .container{
        height: 80px;
    }
    header .container{
        padding: 16px 0;
    }
    footer{
        height: 1000px;
    }
    footer .container{
        display: flex;
        flex-direction: column;
    }
    footer button{
        order:1;
        float:0;
    }
    footer h2{
        width: auto;
        text-align:center;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0;
        margin: -14px 0 17px;
    }    
}